# visual studio 2019 community 설치 하면서 c++ 선택하면 오른쪽 가장 아래에 14 c++ build tool이 있음
pytorch-lightning==1.5.1
torchvision==0.10.0
wandb==0.11.0
editdistance==0.5.3
fastapi==0.66.0
uvicorn==0.14.0
streamlit==0.84.0
hydra-core==1.1.0
python-multipart==0.0.5
albumentations==1.0.3
# 요고 안하면 터짐
setuptools==59.5.0
# 인코딩 처리용
chardet